<a href="https://colab.research.google.com/github/SebastianOrtiz-1/programming-class/blob/main/EjemploCicloFor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for numero in range(5):
    print(numero)

In [ ]:
nombres = ["Ana", "Beto", "Carlos", "Diana"]

for nombre in nombres:
    print(nombre)

In [ ]:
palabra = "Hola"

for letra in palabra:
    print(letra)

In [ ]:
listas = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for lista in listas:
    for elemento in lista:
        print(elemento)

Tienes una lista de números y necesitas encontrar la suma total de todos los números en la lista.

In [ ]:
numeros = [1, 2, 3, 4, 5]
suma_total = 0

for numero in numeros:
    suma_total += numero

print(f"La suma total es: {suma_total}")

print(sum(numeros))

Dada una lista de números enteros, encuentra el valor máximo.

In [ ]:
numeros = [4, 1, 17, 43, 28]
maximo = numeros[0]

for numero in numeros:
    if numero > maximo:
        maximo = numero

print(f"El número máximo es: {maximo}")

 Necesitas generar la tabla de multiplicar (del 1 al 10) de un número dado por el usuario y almacenar cada resultado en una lista.

In [ ]:
numero = 5  # Este número puede ser ingresado por el usuario
tabla = []

for i in range(1, 11):
    resultado = numero * i
    tabla.append(resultado)

print(f"Tabla del {numero}: {tabla}")